.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border-top: none !important;
    border-bottom: none !important;
    font-size: 1em;
    color: #222;
    padding: 0 0.5em;
    line-height: 1.25em;
}

.table-bordered {
    border: none !important;
}

thead {
    padding-bottom: 0.5em !important;
    border-bottom: 1px solid #d4d4d4 !important;
    margin-bottom: 0.5em;
}

.table .th-sm {
    color: #E02E0B;
    border-left: none;
    border-right: none;
    padding-bottom: 0.5em;
}

tbody .name {
    border-left: none !important;
}

tbody .perc {
    border-right: 1px solid #222222 !important;
    text-align: right;
}

tbody .svg{
    padding-left: 0 !important;
}

tbody .meters {
    border-right: none !important;
    text-align: right;
}

#meters-by-district-plot .axis-x text {
    color: #656565;
    font-size: 14px;
    line-height: 17px;
}

#meters-by-district-plot .axis-y text {
    color: #222222;
    font-size: 16px;
    line-height: 20px;
}

#meters-by-district-plot .axis-x .domain {
    display: none;
}

#meters-by-district-plot .axis-x line {
    stroke: #EBEBEB;
    mix-blend-mode: multiply;
    stroke-width: 1px;
    stroke-dasharray: 2px;
}

#meters-by-district-plot .axis-y line {
    display: none;
}

 tbody .row:after, .row:before {
    /* display: table; */
    content: none;
}