#meters-by-district-plot {
    /* min-height: 210px; */
    min-height: 1400px;
    padding: 0;
    margin: 0;
}


#meters-by-district-plot .axis-x text {
    color: #656565;
    font-size: 14px;
    line-height: 17px;
}

#meters-by-district-plot .axis-y text {
    color: #222222;
    font-size: 16px;
    line-height: 20px;
}

#meters-by-district-plot .axis-x .domain {
    display: none;
}

#meters-by-district-plot .axis-x line {
    stroke: #EBEBEB;
    mix-blend-mode: multiply;
    stroke-width: 1px;
    stroke-dasharray: 2px;
}

#meters-by-district-plot .axis-y line {
    display: none;
}